@import url(//fonts.googleapis.com/css?family=Roboto);

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  overflow: hidden;
  color: white;
  background-color: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  border: none;
  padding: 8px 16px;
  font-size: 12px;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #add8e6;
  user-select: none;
}

.toolbox__play {
  border-radius: 0 8px 8px 0;
  display: flex;
  flex-direction: column;
  padding: 3px;
  padding-left: 0;
}
.toolbox__play button {
  text-align: left;
  position: relative;
  transition: background-color 0.15s ease-in-out;
}
.toolbox__play button:focus {
  outline: 0;
}
.toolbox__play button + button {
  margin-top: 3px;
}
.toolbox__play button:active,
.toolbox__play button.__enabled {
  background-color: darkturquoise;
}
/* .toolbox__play button:before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(4px);
  transform: scaleX(1);
  transform-origin: left;
  background-color: darkturquoise;
  opacity: 0;
  transition: all 0.15s ease-in-out;
}
.toolbox__play button:active:before,
.toolbox__play button.__enabled:before {
  opacity: 1;
  transform: scaleX(0.1);
} */
.toolbox__play button span {
  display: block;
  transform: translateX(0);
  transition: all 0.15s ease-in-out;
}
.toolbox__play button span:after {
  display: block;
  content: attr('data-prev');
}
.toolbox__play button.__enabled span {
  transform: translateX(4px);
}
.toolbox__play button:first-child {
  border-radius: 0 8px 0 0;
}

#spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.toolbox__play button:last-child {
  border-radius: 0 0 8px 0;
}
